html {
  //font-size: 62.5%;
}

body, html {
  height: 100%;
  min-width: 800px;
}

#app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.page-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85)), url('https://image.tmdb.org/t/p/original/xxKd56iFbMeRQARUosTGgxKxrnF.jpg');
  
  //  BLUR BACKGROUND
  
  //  -webkit-filter: blur(5px);
  //  -moz-filter: blur(5px);
  //  -o-filter: blur(5px);
  //  -ms-filter: blur(5px);
  //  filter: blur(5px);
  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
}